@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* Base reset */
* {
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* A few media query to set some font sizes at different screen sizes.
 * This helps automate a bit of responsiveness.
 * The trick is to use the rem unit for size values, margin and padding.
 * Because rem is relative to the document font size
 * when we scale up or down the font size on the document
 * it will affect all properties using rem units for the values.
*/

/* I am using the em unit for breakpoints
 * The calculation is the following
 * screen size divided by browser base font size
 * As an example: a breakpoint at 980px
 * 980px / 16px = 61.25em
*/

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

/* Base styles */

body {
  margin: 15px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem; /* 18px */
  font-weight: 400;
  line-height: 1.4;
  color: white;
  background:  linear-gradient(62deg, #f64c72 0%, #181719 100%);
}

h1,
h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  text-align: center;
  color: white;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 4.2rem;
}

img {
  display: block;
  width: 100%;
}

/* nav */

.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.nav-list {
  display: flex;
  margin-right: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background:  linear-gradient(62deg, #f64c72 0%, #181719 100%);
}

/* ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background:  linear-gradient(62deg, #f64c72 0%, #181719 100%);
    
  
} */

a {
  text-decoration: none;
  color: var(--main-white);
}

.nav-list a {
  display: block;
  font-size: 2.2rem;
  padding: 2rem;
}

.nav-list a:hover {
    background-color: #f64c72;
}

/* Hero section */
.hero {
  background-image: linear-gradient(62deg, #f64c72 0%, #181719 100%);
  height: 700px;
  text-align: center;
}

#image > img{
  width: 450px;
  height: 400px;
  border-style: solid;
  border-color: #f64c72;
  border-radius: 50%;
  background-color: linear-gradient(62deg, #f64c72 0%, #181719 100%);
}

/* Welcome section */

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #000;
  background-image: linear-gradient(62deg, #f64c72 0%, #181719 100%);
}

.welcome-section > p {
  font-size: 20px;
  font-weight: 200;
  font-style: italic;
}

/*About section */
.section{
    background-color: rgb(28 28 28 / 90%);
    border-style: solid;
    border-color: black;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-right: 10px;
    margin: 106px 11px 10px 20px;

}
.section > h1 {
  font-size: 2em;
  margin-bottom: 10px;
}
.section > p {
  font-size: 16px;
  padding: 10px 10px 10px 10px;
}
#about-section {
 /* border-style: solid;
  border-color: #f64c72;
  border-radius: 5px;*/
}
#progress-ul{
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  top: 0;
  width: 100%;
  background:  linear-gradient(62deg, #f64c72 0%, #181719 100%);
  
}

table {
    width: 100%;
    font-size: 15pt;
}
table, th, td {
    border: 2px solid #cecece;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
}
.selected {
    background-color: #f64c72;
    font-weight: bold;
    color: white;
}
#progress-section{
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background:  linear-gradient(62deg, #f64c72 0%, #181719 100%);
}

progress {
    width: 70%;
    height: 20px;
    color: #99738e;
    background: #efefef;
}
progress::-webkit-progress-bar {
    background: #efefef;
}
progress::-webkit-progress-value {
    background: #99738e;
} 
progress::-moz-progress-bar {
    color: #99738e;
    background: #efefef;
}
iframe, audio {
    display: block;
    margin: 0 auto;
    border: 3px solid #000;
}

/* Projects section */

.projects-section {
  text-align: center;
  padding: 20px;
}

#project-section-header {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  text-align: center;
  color: white;
}

@media (max-width: 28.75em) {
  .projects-section-header {
    font-size: 4rem;
  }
}

/* "Automagic" image grid using no media queries */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 30px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 96px
}

@media (max-width: 30.625em) {
  .projects-section {
    padding: 6rem 1rem;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}

#project-section {
  margin: 47px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  text-align: center;
  color: white;

  background: var(--main-gray);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.code {
  color: var(--main-gray);
  transition: color 0.3s ease-out;
}

.project:hover .code {
  color: #ff7f50;
}

.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}

.project-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}

.btn-show-all {
  font-size: 2rem;
  background: var(--main-gray);
  transition: background 0.3s ease-out;
}

.btn-show-all:hover {
  background: var(--main-red);
}

.btn-show-all:hover > i {
  transform: translateX(2px);
}

.btn-show-all > i {
  margin-left: 10px;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}

/* Contact section */

#contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 34vh;
  padding: 0 2rem;
  background: var(--main-gray);
}

.contact-section-header > h2 {
  font-size: 6rem;
}

.contact-form{
  border-radius: 5px;
  /* background-color: #f2f2f2; */
  padding: 20px;
    text-align: center;
    margin-left: 121px;
    margin-right: 121px;
    border-style: solid;
    border-color: transparent;
    border-radius: 21px;
    /* margin-top: 0; */
    background-color: hsl(0deg 0% 0% / 50%);
}
  textarea {
    height: 100%;
}
/* ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */0: #f64c72; 
    opacity: 1;  Firefox 
  } */
input, textarea {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;

    margin-bottom: 10px;
    font-size: 11pt;
    padding: 15px 10px 10px;
    border: 1px solid #cecece;
    background-color: #181719;
    color: #f64c72;
    width: 70%;
    outline: none;
}

@media (max-width: 28.75em) {
  .contact-section-header > h2 {
    font-size: 4rem;
  }
}

.contact-section-header > p {
  font-style: italic;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateY(8px);
}

/* Footer */

footer {
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
}

footer > p {
  margin: 2rem;
}

footer i {
  vertical-align: middle;
}

@media (max-width: 28.75em) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}
